# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode_folders
.vscode/

# cmake
bin/
build/

# protobuff
third/protobuf/*
!third/protobuf/protobuf-2.6.1.tar.gz

# slog
!third/slog/include/slog_api.h
!third/slog/lib/libslog.so
